<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpsMlHReMO_k16w5HVT__LZ9BPuukywXM</string>
	<key>GCM_SENDER_ID</key>
	<string>710725880813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekenozlu.StorageDemo</string>
	<key>PROJECT_ID</key>
	<string>storagedemo-c4a13</string>
	<key>STORAGE_BUCKET</key>
	<string>storagedemo-c4a13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710725880813:ios:3d1e25efec7aa0900ef5e4</string>
</dict>
</plist>