<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH2L1bEu8SZAFjg3Q3c03Gi8CTJXW5QjU</string>
	<key>GCM_SENDER_ID</key>
	<string>609167044252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekenozlu.Neon-Firestore</string>
	<key>PROJECT_ID</key>
	<string>neon-deneme</string>
	<key>STORAGE_BUCKET</key>
	<string>neon-deneme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609167044252:ios:f437a78bf5f5aff1dbc759</string>
</dict>
</plist>